<!-- start page -->
<div id="wrapper">
<div id="page">
		<!-- start content -->
<div id="content">
<div class="entry">
<p>
  <h3>Thank you, <%= @estimate.name %> for submitting your information.  We will contact you shortly to confirm your appointment.  If you have any questions in the meantime, please do not hesitate to email us at gar@bestgdconstruction.com.</h3>
  <p><b>Name: </b> <%= @estimate.name %></p>
  <p><b> Email: </b>  <%= @estimate.email %></p>
  <p><b> Home Phone: </b>  <%= @estimate.home_phone %></p>
  <p><b> Address 1: </b>  <%= @estimate.address1 %></p>
  <p><b> Address 2: </b>  <%= @estimate.address2 %></p>
  <p><b> City, State: </b>  <%= @estimate.city + ", " + @estimate.state%></p>
  <p><b> Zip: </b>  <%= @estimate.zip %></p>
  <p><b> Description: </b>  <%= @estimate.description %></p>
</p>
</div>
</div>
<br style="clear: both;" />
</div>
</div>
<!-- end page -->
