<!-- start page -->
<div id="wrapper">
<div id="page">
		<!-- start content -->
<div id="content">
<div class="entry">
<p>
  <h3>Thank you, <%= @estimate.name %> for submitting your information.  We will contact you shortly to confirm your appointment.  If you have any questions in the meantime, please do not hesitate to email us at gar@bestgdconstruction.com.</h3>
  <h6> Name</h6>
  <%= @estimate.name %>
  <h6> Email</h6>
  <%= @estimate.email %>
  <h6> Home Phone</h6>
  <%= @estimate.home_phone %>
  <h6> Cell Phone</h6>
  <%= @estimate.cell_phone %>
  <h6> Address 1</h6>
  <%= @estimate.address1 %>
  <h6> Address 2</h6>
  <%= @estimate.address2 %>
  <h6> City, State</h6>
  <%= @estimate.city + ", " + @estimate.state%>
  <h6> Zip</h6>
  <%= @estimate.zip %>
</p>
</div>
</div>
<br style="clear: both;" />
</div>
</div>
<!-- end page -->
