<!-- start footer -->
<div id="wrapper2">
	<div id="footer">
		<ul>
			<li class="first">
				<h2>Home Improvement Ideas</h2>
				<ul>
					<li><%= link_to("Homeimprovementideas.net", "http://www.homeimprovementideas.net/", :target => "_blank") %></li>
          <li><%= link_to("HG TV", "http://www.hgtv.com/", :target => "_blank") %>					
          <li><%= link_to("DIY Ideas", "http://www.diyideas.com/", :target => "_blank") %></li>
					<li><%= link_to("Luxury Housing Trends", "http://www.luxuryhousingtrends.com/", :target => "_blank") %></li>
				</ul>
			</li>
			<li>
				<h2>Testimonials</h2>
				<ul>
					<li><%= link_to("Blake in Raleigh, NC", testimonials_path) %></li>
					<li><%= link_to("Wiley in Warner Robbins, GA", testimonials_path) %></li>
				</ul>
			</li>
			<li>
				<h2>Do It Yourself Resources</h2>
				<ul>
					<li><%= link_to("Hometime", "http://www.hometime.com/home.html", :target => "_blank") %></li>
          <li><%= link_to("HG TV", "http://www.hgtv.com/topics/home-improvement/index.html", :target => "_blank") %>					
          <li><%= link_to("Home Depot", "http://www.homedepot.com", :target => "_blank") %></li>
					<li><%= link_to("Lowes", "http://www.lowes.com", :target => "_blank") %></li>

				</ul>
			</li>
		</ul>
	</div>
	<p id="legal"> &nbsp;&nbsp;&bull;&nbsp;&nbsp;&copy;2011 GD Construction. All Rights Reserved.&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		
	</p>
</div>
<!-- end footer -->
