<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><a href="#">Construction</a></h1>
		<p align="right"><a href="#">(478) 456-4763
&nbsp;&nbsp;&nbsp;&nbsp; &diams; &nbsp;&nbsp;&nbsp;&nbsp; 
(478) 456-1141</a></p>
	</div>
	<div id="menu">
		<ul>
			<li><%= link_to("Home", root_path) %></li>
			<li><%= link_to("Flooring", flooring_path) %></li>
			<li><%= link_to("Residential", residential_path) %></li>
			<li><%= link_to("Commercial", commercial_path) %></li>
			<li><%= link_to("Estimates", estimates_path) %></li>
		</ul>
	</div>
</div>
<hr />
<!-- end header -->
